<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Browse Data</title>
    <link rel="stylesheet" href="/client/css/view-data.css">
    <link rel="stylesheet" href="/client/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/client/js/browse-data.js" defer></script>
</head>
<body ng-controller="BrowseDataController">
    <div class="container">
        <h1 class="center-text">Frank's BeefRate</h1>
        <nav>
            <a href="/BeefRate" class="nav-link">Home</a>
            <a href="/write-data" class="nav-link">Enter Data</a>
            <a href="/view-data" class="nav-link">View Data</a>
            <a href="/browse-data" class="nav-link">Browse Data</a>
        </nav>
    </div>

    <div class="record-display" ng-if="currentRecord">
        <p><strong>Restaurant Name:</strong> {{ currentRecord.restaurantName }}</p>
        <p><strong>Location:</strong> {{ currentRecord.location }}</p>
        <p><strong>Type of Restaurant:</strong> {{ currentRecord.restaurantType }}</p>
        <p><strong>Value:</strong> {{ currentRecord.value }}</p>
        <p><strong>Overall Rating:</strong> {{ currentRecord.overallRating }}</p>
    </div>

    <div class="navigation-buttons">
        <button ng-click="previousRecord()">Previous Record</button>
        <button ng-click="nextRecord()">Next Record</button>
    </div>
</body>
</html>
